<div class="nested-fields bg-light p-2 rounded">
  
  <div data-controller="person-select">
    
    <label class="form-label">Search Person</label>

        <%= f.select :id, [["#{f.object&.first_name} #{f.object&.last_name}  #{f.object&.email}", f.object&.id]], 
          {}, 
          data: { controller: "person-select", "person-select-target": "personSelect" } 
        %>
 
<div class="row">
     <div class = "col-md-4">
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", data: {  "person-select-target": "firstName" } %>
    </div>
 </div>
 <div class = "col-md-4">
    <div class="form-group">
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name, class: "form-control", data: {  "person-select-target": "middleName" } %>
    </div>
 </div>
<div class = "col-md-4">
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", data: {  "person-select-target": "lastName" } %>
    </div>
 </div>

</div>


<div class="row">
  <div class = "col-md-4">
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", data: {  "person-select-target": "email" } %>
    </div>
 </div>
     <div class = "col-md-4">
    <div class="form-group">
      <%= f.label :website %>
      <%= f.text_field :website, class: "form-control", data: {  "person-select-target": "website" } %>
    </div>
</div>
<div class = "col-md-4">
    <div class="form-group">
      <%= f.label :gender_type_id %>
      <%= f.select :gender_type_id, @gender_types.collect { |g| [g.gender, g.id] }, {}, class: "form-control", data: {  "person-select-target": "genderType" } %>
    </div>
</div>
</div>

<div class="row">
     <div class = "col-md-6">
    <div class="form-group">
      <%= f.label :country_reference_id, "Country" %>
      <%= f.select :country_reference_id, @country_references.collect { |c| [c.country, c.id] }, {}, class: "form-control", data: {  "person-select-target": "countryReference" } %>
    </div>
</div>


  <div class = "col-md-6">
    <div class="form-group">
      <%= f.label :ethnicity_type_id %>
      <%= f.select :ethnicity_type_id, @ethinicity_types.collect { |e| [e.ethnicity, e.id] }, {}, class: "form-control", data: {  "person-select-target": "ethnicityType" } %>
    </div>
 </div>

  </div>

    <div class = "form-group">
           <i class="fas fa-trash" style="color: #f0000;"></i> <%= link_to_remove_association "Remove Person", f, class: "btn btn-outline-danger btn-sm" %>
    </div>
  
</div>
