<div class="jumbotron">
  <div class="row">
    <div class="col">

        <p>
          <strong>Mid:</strong>
          <%= @cit_record.mid %>
        </p>

        <p>
          <strong>Company name:</strong>
          <%= @cit_record.company&.name %>
        </p>

        <p>
          <strong>Company brand:</strong>
          <%= @cit_record.brand %>
        </p>

        <p>
          <strong>Level:</strong>
          <%= @cit_record.level %>
        </p>

         <p>
          <strong>Company ID:</strong>
          <%= @cit_record.company_id %>
        </p>

        <p>
          <strong>Product activity count:</strong>
          <%= @cit_record.product_activity_count %>
        </p>

        <p>
          <strong>Product orphan count:</strong>
          <%= @cit_record.product_orphan_count %>
        </p>

        <p>
          <strong>Source:</strong>
          <%= @cit_record.source %>
        </p>

       

        <p>
      <strong>Created at:</strong>
      <%= @cit_record.created_at %>
    </p>

     <p>
      <strong>Updated at:</strong>
      <%= @cit_record.updated_at %>
    </p>

    </div>
  </div>
</div>

<%= link_to 'Edit', edit_cit_record_path(@cit_record) %> |
<%= link_to 'Back', cit_records_path %>

<%= render partial: 'cit_records/menu', locals: {level_users: @level_users}%>
