<%= form_with(model: company_snapshot) do |form| %>
  <% if company_snapshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_snapshot.errors.count, "error") %> prohibited this company_snapshot from being saved:</h2>

      <ul>
        <% company_snapshot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :employee_demographics_transparency %>
    <%= form.number_field :employee_demographics_transparency %>
  </div>

  <div class="field">
    <%= form.label :employee_demographics_performance %>
    <%= form.number_field :employee_demographics_performance %>
  </div>

  <div class="field">
    <%= form.label :projected_culture_and_identity %>
    <%= form.number_field :projected_culture_and_identity %>
  </div>

  <div class="field">
    <%= form.label :mgmt_composition_transparency, "Mgmt/Board Composition - Transparency" %>
    <%= form.number_field :mgmt_composition_transparency %>
  </div>

  <div class="field">
    <%= form.label :mgmt_composition_performance, "Mgmt/Board Composition - Performance" %>
    <%= form.number_field :mgmt_composition_performance %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

