<h3>Company Snapshots</h3>
<table class="table table-striped table-bordered table-hover table-sm container-fluid">
  <thead class="thead-dark">
    <tr>
      <th>Company</th>
      <th>Employee Demographics - Transparency</th>
      <th>Employee Demographics - Performance</th>
      <th>Projected Culture & Identity</th>
      <th>Mgmt/Board Composition - Transparency</th>
      <th>Mgmt/Board Composition - Performance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_snapshots.each do |company_snapshot| %>
      <tr>
        <td><%= company_snapshot.company&.name %></td>
        <td><%= company_snapshot.employee_demographics_transparency %></td>
        <td><%= company_snapshot.employee_demographics_performance %></td>
        <td><%= company_snapshot.projected_culture_and_identity %></td>
        <td><%= company_snapshot.mgmt_composition_transparency %></td>
        <td><%= company_snapshot.mgmt_composition_performance %></td>
        <td><%= link_to 'Show', company_snapshot %></td>
        <td><%= link_to 'Edit', edit_domains_companies_company_snapshot_path(company_snapshot) %></td>
        <td><%= link_to 'Destroy', company_snapshot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<nav aria-label="Page navigation" class="pagination-form">
    <%= will_paginate @company_snapshots, renderer: BootstrapPagination::Rails,
      class: 'pagination justify-content-center' %>

        <form method="get" action="/domains/companies/company_snapshots">

          <div class="form-group">
             <input name="page" class="ml-2 jumpto-field" type="number" placeholder="Page #"/>
             <input class="btn btn-outline-success" type="submit" value="Goto page" />
          </div>

        </form>
</nav>
