<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_snapshot.company&.name %>
</p>

<p>
  <strong>Employee demographics transparency:</strong>
  <%= @company_snapshot.employee_demographics_transparency %>
</p>

<p>
  <strong>Employee demographics performance:</strong>
  <%= @company_snapshot.employee_demographics_performance %>
</p>

<p>
  <strong>Projected culture & identity:</strong>
  <%= @company_snapshot.projected_culture_and_identity %>
</p>

<p>
  <strong>Mgmt/Board composition transparency:</strong>
  <%= @company_snapshot.mgmt_composition_transparency %>
</p>
<p>
  <strong>Mgmt/Board composition performance:</strong>
  <%= @company_snapshot.mgmt_composition_performance %>
</p>

<%= link_to 'Edit', edit_domains_companies_company_snapshot_path(@company_snapshot) %> |
<%= link_to 'Back', domains_companies_company_snapshots_path %>

