

<p>
  <strong>Code:</strong>
  <%= @family.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @family.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @family.description %>
</p>

<p>
  <strong>Segment:</strong>
  <%= @family.segment.code %> |
  <%= @family.segment.title %>
</p>

<p>
  <strong>Product category source:</strong>
  <%= @family.product_category_source.code %> |
  <%= @family.product_category_source.description %>
</p>

<%= link_to 'Edit', edit_domains_classifications_family_path(@family) %> |
<%= link_to 'Back', domains_classifications_families_path %>
