
<p>
  <strong>Address type:</strong>
  <%= @address.address_type_id %>
</p>

<p>
  <strong>Addressable:</strong>
  <%= @address.addressable_id %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @address.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @address.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country_reference_id %>
</p>

<%= link_to 'Edit', edit_domains_contact_and_identity_address_path(@address) %> |
<%= link_to 'Back', domains_contact_and_identity_addresses_path %>
