<div class="nested-fields">

    <div class="row">
     <div class = "col-md-12">
        <div class="form-group">
            <%= f.label :employee_demographics_transparency %>
            <%= f.select :employee_demographics_transparency, Domains::Companies::CompanySnapshot.employee_demographics_transparencies.keys.map { |k| [k.titleize, k] }, {}, class: "form-control" %>
        </div>
    </div>
  </div>

  <div class="row">
     <div class = "col-md-12">
        <div class="form-group">
            <%= f.label :employee_demographics_performance %>
            <%= f.select :employee_demographics_performance, Domains::Companies::CompanySnapshot.employee_demographics_performances.keys.map { |k| [k.titleize, k] }, {}, class: "form-control" %>
        </div>
    </div>
  </div>

    <div class="row">
         <div class = "col-md-12">
            <div class="form-group">
                <%= f.label :projected_culture_and_identity %>
                <%= f.select :projected_culture_and_identity, Domains::Companies::CompanySnapshot.projected_culture_and_identities.keys.map { |k| [k.titleize, k] }, {}, class: "form-control" %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class = "col-md-12">
            <div class="form-group">
                <%= f.label :mgmt_composition_transparency, "Mgmt/Board Composition - Transparency" %>
                <%= f.select :mgmt_composition_transparency, Domains::Companies::CompanySnapshot.mgmt_composition_transparencies.keys.map { |k| [k.titleize, k] }, {}, class: "form-control" %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class = "col-md-12">
            <div class="form-group">
                <%= f.label :mgmt_composition_performance, "Mgmt/Board Composition - Performance" %>
                <%= f.select :mgmt_composition_performance, Domains::Companies::CompanySnapshot.mgmt_composition_performances.keys.map { |k| [k.titleize, k] }, {}, class: "form-control" %>
            </div>
        </div>
    </div>

    </div>
