<div class="nested-fields p-3 mb-3">

  <h5>Contact</h5>
<div class="row">
     <div class = "col-md-4">

        <label class="form-label">Search Person</label>

          <%= f.select :person_id, [["#{f.object&.first_name} #{f.object.person&.last_name}  #{f.object.person&.email}", f.object.person&.id]], 
            {}, 
            data: { controller: "person-select", "person-select-target": "personSelect" } 
          %>

        <%= f.hidden_field :id, value: f.object&.id, id: "person_id" %>

      </div>
      
      <div class = "col-md-4">
              <div class = "form-group">
                    <label> Person ID: </label>
                    <input value="<%= f.object.person&.id%>" class="form-control" readonly />
                </div>
      </div>
      <div class = "col-md-4">
        <div class="form-group">
          <%= f.label :photo %>
          <%= image_tag f.object&.photo_url,  width: 60, height: 50  if f.object&.photo? %>
          <%= f.file_field :photo, class: "form-control" %>
        </div>
      </div>

  </div>
 
<div class="row">
     <div class = "col-md-4">
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", id: "company_company_contacts_attributes_#{f.index}_first_name" %>
    </div>
 </div>
 <div class = "col-md-4">
    <div class="form-group">
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name, class: "form-control", id: "company_company_contacts_attributes_#{f.index}_middle_name"  %>
    </div>
 </div>
<div class = "col-md-4">
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", id: "company_company_contacts_attributes_#{f.index}_last_name"  %>
    </div>
 </div>

</div>





<div class="row">

<div class = "col-md-3">
      <div class="form-group">
        <%= f.label :company_contact_type_id, "Role" %>
        <%= f.collection_select :company_contact_type_id, @company_contact_types, :id, :role, {}, class: "form-control" %>
      </div>
  
  </div>

  <div class = "col-md-3">
  <div class="form-group">
    <%= f.label :job_title %>
    <%= f.text_field :job_title, class: "form-control" %>
  </div>
  </div>


     <div class = "col-md-3">
      <div class="form-group">
        <%= f.label :email, "Company Email" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>
    <div class = "col-md-3">
      <div class="form-group">
        <%= f.label :phone, "Company Phone" %>
        <%= f.telephone_field :phone, class: "form-control" %>
      </div>
    </div>


 </div>


  <i class="fas fa-trash" style="color: #ff0000;"></i><%= link_to_remove_association "Remove Contact", f, class: "btn btn-sm btn-danger mt-2" %>
</div>
