<%= form_with(model: cit_record) do |form| %>
  <% if cit_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cit_record.errors.count, "error") %> prohibited this cit_record from being saved:</h2>

      <ul>
        <% cit_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-row">
    <div class = "form-group col-md-6">
<%= form.label :mid %>
    <%= form.text_field :mid, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
<%= form.label :source %>
    <%= form.text_field :source, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class = "form-group col-md-6">
<%= form.label :level %>
    <%= form.number_field :level, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
<%= form.label :company_id, "Comapany ID" %>
    <%= form.text_field :company_id, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class = "form-group col-md-6">
<%= form.label :product_activity_count %>
    <%= form.number_field :product_activity_count, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
<%= form.label :product_orphan_count %>
    <%= form.number_field :product_orphan_count, class: "form-control" %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
