

<p>
  <strong>Company relationship type:</strong>
  <%= @company_relationship.company_relationship_type.relationship %>
</p>

<p>
  <strong>Parent company:</strong>
  <%= @company_relationship.parent_company.name %>
</p>

<p>
  <strong>Child company:</strong>
  <%= @company_relationship.child_company.name %>
</p>

<%= link_to 'Edit', edit_company_relationship_path(@company_relationship) %> |
<%= link_to 'Back', company_relationships_path %>
