

<h3>Families</h3>

<br/>

<%= link_to 'New Family', new_family_path, class: "btn btn-secondary" %>

<br/><br/>

<table class="table table-striped table-bordered table-hover table-sm container-fluid" >
  <thead class="thead-dark" >
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Segment Code</th>
      <th>Segment Title
      <th>Product Category Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.code %></td>
        <td><%= family.title %></td>
        <td><%= family.segment.code %></td>
        <td><%= family.segment.title %></td>
        <td><%= family.product_category_source.code %></td>
        <td><%= link_to 'View', family %></td>
        <td><%= link_to 'Edit', edit_family_path(family) %></td>
        <td><%= button_to 'Delete', family, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Family', new_family_path, class: "btn btn-secondary" %>
