<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @attribute_title.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @attribute_title.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attribute_title.description %>
</p>

<p>
  <strong>Product category source:</strong>
  <%= @attribute_title.product_category_source.code %>
</p>

<%= link_to 'Edit', edit_domains_classifications_attribute_title_path(@attribute_title) %> |
<%= link_to 'Back', domains_classifications_attribute_titles_path %>
