

<%if current_user.admin?%>
    <h3>Editing User</h3>

    <%= form_with(model: @user) do |form| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
            <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>


    <div class="form-group">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control", readonly: true %>
    </div>

    <div class="form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label :country %><br />
        <%= form.text_field :country, autocomplete: "country", class: "form-control", required:"required" %>
        </div>

        <div class="form-group">
        <%= form.label :postal_code %><br />
        <%= form.text_field :postal_code, autocomplete: "postal_code", class: "form-control", required:"required" %>
        </div>


        <div class="form-group">
        <%= form.label :role %><br />
        <%= form.select :role, User.roles.keys.map { |k| [k.titleize, k] }, {}, class: "form-control" %>
        </div>

    <div class="form-group">
        <%= form.label :status %>
        <%= form.select :status, User.statuses.keys.map { |k| [k.titleize, k] }, {}, class: "form-control" %>
    </div>

    <div class="actions">
        <%= form.submit "Submit", class: 'action-btn' %>
    </div>

    <% end %>
<% else %>
    <h3>You are not authorized to view this page!</h3>
<%end%>

<%= link_to 'View', @user %> |
<%= link_to 'Back', users_path %>
