<%= form_with(model: bit_record) do |form| %>
  <% if bit_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bit_record.errors.count, "error") %> prohibited this bit_record from being saved:</h2>

      <ul>
        <% bit_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :barcode %>
    <%= form.text_field :barcode %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
