<div data-controller="barcode">
  <h3>Barcode Interface</h3>

  <%= form_for(@bit_record, url: insert_barcode_path, html: { method: :post }) do |f| %>
    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :barcode %><br />
        <%= f.text_field :barcode, autofocus: true, id:"barcode", required: true, data: { barcode_target: "barcodeInput" } %>
      </div>
    
      <div class="form-group col-md-6">
        <br />
        <%= f.submit "Add", data: { action: "click->barcode#submitAdd" }, class: "btn btn-primary" %>
      </div>

    </div>
  <% end %>

<hr>

  <%= form_for(@bit_record, url: insert_barcode_path, html: { method: :post, multipart: true }) do |f| %>
    <div class="row">
    
      <div class="form-group col-md-6">
        <%= f.label :file %><br />
        <%= f.file_field :file, id: "fileinput", required: true, data: { barcode_target: "fileInput" } %>
      </div>

      <div class="form-group col-md-6">
        <br />
        <%= f.submit "Load", data: { action: "click->barcode#handleLoad" }, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

<div id="barcode-error" data-barcode-target="error" class="alert alert-danger d-none"></div>


<table class="table table-striped table-bordered table-hover table-sm container-fluid">
  <thead class="thead-dark">
    <tr>
      <th>Barcode</th>
      <th>Status</th>
      <th>Source</th>
      <th>User ID</th>
      <th>Date</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody id="bit-record-display" data-barcode-target="display">
   
  </tbody>

</table>


</div>
