<div class="container mt-0">
   
   <div id="accordion">
    
            <!-- Accordion Item 1 -->
            <div class="card">
            <div class="card-header" id="headingOne">
       
                    
            <div class="row">
            <div class="col-md-4">
            <h5 class="mb-0">
            <button
            class="btn theme-link btn-block text-left m-0 p-0 font-weight-bold collapsed"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="<%= params[:level] == '1' ? 'true' : 'false' %>"
                aria-controls="collapseOne"
                >
                Level 1 (Base Data) <%= 'True' if product.level_1_flag %> <%= 'False' if !product.level_1_flag %>
                </button>
                </h5>
                
                </div>
                
                <div class="col-md-2">
                    <%= link_to 'Link upload', 
                    link_barcode_path(barcode: pit_record.barcode), target: "_blank" %>
                </div>
                
                <div class="col-md-6">
                <%= form_for(product, url: update_pit_status_path, html: { method: :put, multipart: true }) do |form| %>

                                <%= form.hidden_field :barcode, value: pit_record.barcode, id: "product-barcode" %>
                                <%= form.hidden_field :level, value: params[:level] %>

                                <%= form.hidden_field :pit_record_id, value: pit_record.id %>
                                <div class="d-flex"">
                                    <%= form.label :capture_status, "Status: " %>
                                    <%= form.select :capture_status,
                                        options_for_select(
                                        [
                                            ["Select an Option", "blank"],
                                            ["Status R", "R"],
                                            ["Status S", "S"],
                                            ["Status U", "U"]
                                        ],
                                        pit_record.capture_status
                                        ),
                                        {},
                                        class: "form-control", style:"margin-left: 15px;"
                                    %>

                                    <%= form.submit "Update", class: 'status-active' %>

                                </div>  
                                <%end%>                           
                        </div> 

                              
                    </div>
                </div>
            </div>

            <div
                id="collapseOne"
                class="<%= params[:level] == '1' ? '' : 'collapse' %>"
                aria-labelledby="headingOne"
                data-parent="#accordion"
            >
                <div class="card-body">
                     <%= render partial: "domains/croupier_core/pit_records/form_level1", locals: {product: product, pit_record: pit_record} %>
                </div>
            </div>
            </div>

            <!-- Accordion Item 2 -->
            <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block collapsed text-left m-0 p-0 font-weight-bold"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="<%= params[:level] == '2' ? 'true' : 'false' %>"
                    aria-controls="collapseTwo"
                >
                    Level 2 (Product Category) <%= 'True' if product.level_2_flag %> <%= 'False' if !product.level_2_flag %>
                </button>
                </h5>
            </div>

            <div
                id="collapseTwo"
                class="<%= params[:level] == '2' ? '' : 'collapse' %>"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
            >
                <div class="card-body">
                    <%if product.level_1_flag %>
                        <%= render partial: "domains/croupier_core/pit_records/form_level2", locals: {product: product, segments: segments, pit_record: pit_record} %>
                    <%else%>
                        <h5>Level 1 data is required!</h5>
                    <%end%>
                </div>
            </div>
            </div>

            <!-- Accordion Item 3 -->
            <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block collapsed text-left m-0 p-0 font-weight-bold"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="<%= params[:level] == '3' ? 'true' : 'false' %>"
                    aria-controls="collapseThree"
                >
                    Level 3 (Product Alternatives) <%= 'True' if product.level_3_flag %> <%= 'False' if !product.level_3_flag %>
                </button>
                </h5>
            </div>

            <div
                id="collapseThree"
                class="<%= params[:level] == '3' ? '' : 'collapse' %>"
                aria-labelledby="headingThree"
                data-parent="#accordion"
            >
                <div class="card-body">
                    <%if product.level_1_flag %>
                        <%= render partial: "domains/croupier_core/pit_records/form_level3", locals: {product: product} %>
                        
                    <%else%>
                        <h5>Level 1 data is required!</h5>
                    <%end%>
                </div>
            </div>
            </div>


            <!-- Accordion Item 4 -->
            <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block collapsed text-left m-0 p-0 font-weight-bold"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="<%= params[:level] == '4' ? 'true' : 'false' %>"
                    aria-controls="collapseFour"
                >
                    Level 4 <%= 'True' if product.level_4_flag %> <%= 'False' if !product.level_4_flag %>
                </button>
                </h5>
            </div>

            <div
                id="collapseFour"
                class="<%= params[:level] == '4' ? '' : 'collapse' %>"
                aria-labelledby="headingFour"
                data-parent="#accordion"
            >
                <div class="card-body">
                    <%if product.level_1_flag %>
                        <%= render partial: "domains/croupier_core/pit_records/form_level4", locals: {product: product} %>
                        
                    <%else%>
                        <h5>Level 1 data is required!</h5>
                    <%end%>
                </div>
            </div>
            </div>

            <!-- Accordion Item 5 -->
            <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block collapsed text-left m-0 p-0 font-weight-bold"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="<%= params[:level] == '5' ? 'true' : 'false' %>"
                    aria-controls="collapseFive"
                >
                    Level 5 <%= 'True' if product.level_5_flag %> <%= 'False' if !product.level_5_flag %>
                </button>
                </h5>
            </div>

            <div
                id="collapseFive"
                class="<%= params[:level] == '5' ? '' : 'collapse' %>"
                aria-labelledby="headingFive"
                data-parent="#accordion"
            >
                <div class="card-body">
                    <%if product.level_1_flag %>
                        <%= render partial: "domains/croupier_core/pit_records/form_level5", locals: {product: product} %>
                        
                    <%else%>
                        <h5>Level 1 data is required!</h5>
                    <%end%>
                </div>
            </div>
            </div>

        </div>

</div>
