<%= form_with(model: pit_record) do |form| %>
  <% if pit_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pit_record.errors.count, "error") %> prohibited this pit_record from being saved:</h2>

      <ul>
        <% pit_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
        <%= form.label :barcode %>
        <%= form.text_field :barcode, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= form.label :asin %>
          <%= form.text_field :asin, class: "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= form.label :level %>
          <%= form.number_field :level, class: "form-control" %>
      </div>
    </div>
  </div>

  

  <div class="row">
    <div class="col-md-4">
          <div class="form-group">
            <%= form.label :product_activity_count %>
            <%= form.number_field :product_activity_count, class: "form-control" %>
          </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
          <%= form.label :source %>
          <%= form.text_field :source, class: "form-control" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group" style: "height: 40px; margin-top: 30px">
                                <%= form.label :capture_status %>
                                <%= form.select :capture_status,
                                    options_for_select(
                                    [
                                        ["Select an Option", "blank"],
                                        ["Status R", "R"],
                                        ["Status S", "S"],
                                        ["Status U", "U"]
                                    ],
                                    pit_record.capture_status
                                    ),
                                    {},
                                    class: "form-control"
                                %>
                            </div>
    </div>
  </div>

 



   <div class="row">
    <div class="col-md-6">
         <div class="form-group">
          <%= form.label :product_id %>
          <%= form.text_field :product_id, class: "form-control" %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
          <%= form.label :mid %>
          <%= form.text_field :mid, class: "form-control" %>
        </div>
    </div>
  </div>
  

  

  <div class="actions">
    <%= form.submit "Submit", class: 'action-btn' %>
  </div>
<% end %>
