<table class="table table-striped table-bordered table-hover table-sm table-light">
  <thead class="thead-light">
    <tr>
      <th>Barcode</th>
      <th>Count</th>
      <th>
        <table class="table mb-0 table-light table-hover table-sm">
          <tbody>
            <tr><td>Product ID</td></tr>
            <tr><td>Company ID</td></tr>
          </tbody>
        </table>

      </th>
      <th> 
         <table class="table mb-0 table-light table-hover table-sm">
          <tbody>
            <tr><td>Product Name</td></tr>
            <tr><td>Company Name</td></tr>
          </tbody>
        </table>
      </th>
      <th>
         <table class="table mb-0 table-light table-hover table-sm">
          <tbody>
            <tr><td>User</td></tr>
            <tr><td>Date</td></tr>
          </tbody>
        </table>
      </th>
 
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% pit_records_supervisories.each do |pit| %>
      <tr>
        <td><%= pit.barcode %></td>
        <td><%= pit.product_activity_count %></td>
        <td>
          <table class="table mb-0 table-light table-hover table-sm">
          <tbody>
            <tr><td><%= pit.product_id %></td></tr>
            <tr><td><%= pit.product&.company&.id %></td></tr>
          </tbody>
        </table>
        </td>
        <td>
           <table class="table mb-0 table-light table-hover table-sm">
          <tbody>
            <tr><td><%= pit.product&.name %></td></tr>
            <tr><td><%= pit.product&.company&.name %></td></tr>
          </tbody>
        </table>
          
        </td>

        <td>
           <table class="table mb-0 table-light table-hover table-sm">
          <tbody>
            <tr><td><%= pit.pit_level_users.where(level: 1 )&.first&.user&.username %></td></tr>
            <tr><td><%= pit.created_at.strftime("%m/%d/%Y") %></td></tr>
          </tbody>
        </table>
          
        </td>
      
        <td><%= link_to 'Add', product_capture_interface_path(barcode: pit.barcode, level: "s"), class:"action-btn-outlined" %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br/><br/>

<nav aria-label="Page navigation" class="pagination-form">
    <%= will_paginate pit_records_supervisories,
      remote: true,
      renderer: BootstrapPagination::Rails,
      params: { controller: "domains/croupier_core/pit_records", action: "pit_records_supervisories" }, 
      class: 'pagination justify-content-center' %>

        <%= form_with url: pit_records_supervisories_path,
              method: :get,
              remote: true,
              html: { class: "jump-to-form" } do |form| %>

        <div class="form-group">
          <%= number_field_tag :page, nil,
                class: "ml-2 jumpto-field",
                placeholder: "Page #" %>

          <%= form.submit "Goto page",
                class: "btn btn-outline-success" %>
        </div>

      <% end %>
</nav>