<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>

      <th>Name</th>

      <th>Qrcode</th>
      <th>Size</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% products.each do |product| %>
      <tr>

        <td><%= product.name %></td>
       
        <td><%= product.qrcode %></td>
        <td><%= product.size %></td>

        <td><%= link_to 'View', product %></td>
        <td><%= link_to 'Edit', edit_domains_products_product_path(product) %></td>
        <td><%= button_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
