<div class="jumbotron">
  <div class="row">
    <div class="col">

<p>
  <strong>Product:</strong>
  <%= @scan.product_id %>
</p>

<p>
  <strong>User:</strong>

  <a href="/users/<%= @scan.user_id %>"><%= @scan.user.username %> </a>
</p>

<p>
  <strong>Scan date:</strong>
  <%= @scan.scan_date %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @scan.barcode %>
</p>

<p>
  <strong>Product exists:</strong>
  <%= @scan.product_exists %>
</p>
</div>
</div>
</div>
<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
