<div class="container mt-5">
   
   <div id="accordion">
    
            <!-- Accordion Item 1 -->
            <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block text-left m-0 p-3 font-weight-bold collapsed"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                >
                    Level 1 (Base Data) <%= 'True' if pit_record.level > 0 %> <%= 'False' if pit_record.level < 1 %>
                </button>
                </h5>
            </div>

            <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordion"
            >
                <div class="card-body">
                     <%= render partial: "pit_records/form_level1", locals: {product: product, pit_record: pit_record} %>
                </div>
            </div>
            </div>

            <!-- Accordion Item 2 -->
            <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block collapsed text-left m-0 p-3 font-weight-bold"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                >
                    Level 2 (Product Category) <%= 'True' if pit_record.level > 1 %> <%= 'False' if pit_record.level < 2 %>
                </button>
                </h5>
            </div>

            <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
            >
                <div class="card-body">
                    <%= render partial: "pit_records/form_level2", locals: {product: product, segments: segments, pit_record: pit_record} %>
                </div>
            </div>
            </div>

            <!-- Accordion Item 3 -->
            <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block collapsed text-left m-0 p-3 font-weight-bold"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                >
                    Level 3 (Product Alternatives) <%= 'True' if pit_record.level > 2 %> <%= 'False' if pit_record.level < 3 %>
                </button>
                </h5>
            </div>

            <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordion"
            >
                <div class="card-body">
                <%= render partial: "pit_records/form_level3", locals: {product: product} %>
                </div>
            </div>
            </div>


            <!-- Accordion Item 4 -->
            <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block collapsed text-left m-0 p-3 font-weight-bold"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                >
                    Level 4 <%= 'True' if pit_record.level > 3 %> <%= 'False' if pit_record.level < 4 %>
                </button>
                </h5>
            </div>

            <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#accordion"
            >
                <div class="card-body">
                    <%= render partial: "pit_records/form_level4", locals: {product: product} %>
                </div>
            </div>
            </div>

            <!-- Accordion Item 5 -->
            <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                <button
                    class="btn theme-link btn-block collapsed text-left m-0 p-3 font-weight-bold"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                >
                    Level 5 <%= 'True' if pit_record.level > 4 %> <%= 'False' if pit_record.level < 5 %>
                </button>
                </h5>
            </div>

            <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-parent="#accordion"
            >
                <div class="card-body">
                    <%= render partial: "pit_records/form_level5", locals: {product: product} %>
                </div>
            </div>
            </div>

        </div>


