<h3>Level 2</h3>

<%= form_for(product, url: product_update_to_level_two_path(product_id: product.id || 1), html: { method: :put }) do |form| %>

  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :barcode, value: pit_record.barcode %>
    <%= form.hidden_field :pit_record_id, value: pit_record.id %>
    <%= form.hidden_field :level, value: params[:level] %>

  <div data-controller="product-classification">
        <div class="form-group">
            <%= form.label :segment_id %>
            <%= form.select :segment_id,
            @segments.map { |segment| ["#{segment.code} #{segment.title}", segment.id] },
            { include_blank: true },
            {
                
                id: "segment_id",
                data: { product_classification_target: "segment" }
            } %>
        </div>

        <div class="form-group">
            <%= form.label :family_id %>
            <%= form.select :family_id,
            [["#{@family&.code} #{@family&.title}", @family&.id]],
            { include_blank: true },
            {
                
                id: "family_id",
                data: { product_classification_target: "family" }
            } %>
        </div>

        <div class="form-group">
            <%= form.label :klass_id %>
            <%= form.select :klass_id,
            [["#{@klass&.code} #{@klass&.title}", @klass&.id]],
            { include_blank: true },
            {
                
                id: "klass_id",
                data: { product_classification_target: "klass" }
            } %>
        </div>

        <div class="form-group">
            <%= form.label :brick_id %>
            <%= form.select :brick_id,
            [["#{@brick&.code} #{@brick&.title}", @brick&.id]],
            { include_blank: true },
            {
                
                id: "brick_id",
                data: { product_classification_target: "brick" }
            } %>
        </div>
</div>


  <div class="actions text-center">
    <%= form.submit "Update", class: 'action-btn'%>
  </div>
<% end %>


