
<%= form_for(product, url: insert_product_path, html: { method: :post, multipart: true }) do |form| %>

  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form.hidden_field :barcode, value: pit_record.barcode %>
<%= form.hidden_field :level, value: params[:level] %>

<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
    <%= form.label :size %>
    <%= form.text_field :size, class: "form-control" %>
  </div>
  </div>
</div>
   


   <div class="row">
    <div class="col-md-8">
      <div class="form-group">
      <%= form.label :asin %>
      <%= form.text_field :asin, class: "form-control" %>
    </div>
    </div>

    <div class="col-md-4">
      <div class="form-group" id="media-fields">
    <%= form.fields_for :media do |mf| %>
      <div class="media-upload">
        <% if mf.object.file.present? %>
          <%= image_tag mf.object.file.url(:thumb) if mf.object.image? %>
   
        <% end %>

        <%= mf.label :file, "Product image", class:"form-label" %>
        <%= mf.file_field :file, class: "form-control form-control-lg" %>
      </div>
    <% end %>
    </div>

    <%= link_to 'Add another image', '#', id: 'add-media-field' %>
    </div>
  </div>



  <%= form.hidden_field :pit_record_id, value: pit_record.id %>

  

  <div class="form-group">
        <%= form.label :captured_product_category %>
        <%= form.text_field :captured_product_category, class: "form-control" %>
      </div>

<div class="form-group">
  <%= form.label :description %>
  <%= form.text_area :description, class: "form-control", required: true, rows: 5 %>
</div>
  
  
  <div class="row">
    <div class="col-md-8">
       <div class="form-group">
        <%= form.label :company_id, "Company Name", class:"form-label" %>
        <%= form.select :company_id, [[@company&.name, @company&.id]], 
          { prompt: "Search for a company" }, 
          data: { controller: "company-select" } 
        %>
        <%= form.hidden_field :new_company_name, id: "new_company_name" %>
    </div>
  </div>

    <div class="col-md-4">
      <div class = "form-group">
        <label class="form-label"> Company ID </label><br>
        <input class="form-control" value="<%=product.company_id%>"  readonly="true"/>
     </div>
    </div>
  </div>
 
<%= form.hidden_field :product_category_source_id, value: product.product_category_source_id %>

<%if product.company_id.blank? && !product.name.blank? %>
 <div class="row">
    <div class="col-md-8">
       <div class="form-group">
        <label>Entered Company Name</label>

        <input value="<%= @company_name %>" class="form-control" readonly="true"/>
      </div>
    </div>

    <div class="col-md-4">
      <div class = "form-group">
     </div>
    </div>
  </div>

 <%end%>

 

  <div class="actions text-center">
    <%= form.submit "Update", class: 'action-btn' %>
  </div>
<% end %>



