<div class="container mt-5">
   
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><%= "  ⚙️  " %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="attributes-tab" data-toggle="tab" href="#attributes" role="tab" aria-controls="attributes" aria-selected="false">Level 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="relationships-tab" data-toggle="tab" href="#relationships" role="tab" aria-controls="relationships" aria-selected="false">Level 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false">Level 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ethnicity-tab" data-toggle="tab" href="#ethnicity" role="tab" aria-controls="ethnicity" aria-selected="false">Level 4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="gender-tab" data-toggle="tab" href="#gender" role="tab" aria-controls="gender" aria-selected="false">Level 5</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
             <%= render partial: "level0", locals: {pit_records_0s: pit_records_0s} %>
        </div>
        <div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
             <%= render partial: "level1", locals: {pit_records_1s: pit_records_1s} %>
        </div>
        <div class="tab-pane fade" id="relationships" role="tabpanel" aria-labelledby="relationships-tab">
            <%= render partial: "level2", locals: {pit_records_2s: pit_records_2s} %>
        </div>
        <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
            <%= render partial: "level3", locals: {pit_records_3s: pit_records_3s} %>
        </div>
        <div class="tab-pane fade" id="ethnicity" role="tabpanel" aria-labelledby="ethnicity-tab">
            <%= render partial: "level4", locals: {pit_records_4s: pit_records_4s} %>
        </div>
        <div class="tab-pane fade" id="gender" role="tabpanel" aria-labelledby="gender-tab">
            <%= render partial: "level5", locals: {pit_records_5s: pit_records_5s} %>
        </div>
    </div>
</div>
