<div class="container-fluid">
  <h3>Product Capture Interface</h3>


        <%= form_for(@pit_record, url: invoke_bit_pit_triggers_path, html: { method: :post }) do |form| %>
    <div class="row">

        <div class = "col-2">
            <div class = "form-group">
                <%= form.label :barcode %>
                <%= form.text_field :barcode, class: "form-control", required: true %>
            </div>
        </div>

        <div class = "col-7">
            <div class = "form-group">
                <%= form.label :name, "Name" %>
                <%= form.text_field :name, value: @product.name, class: "form-control", readonly: true %>
            </div>
        </div>
        
        <div class = "col-1">
            <div class = "form-group">
                <%= form.label :product_id, "ID" %>
                <%= form.text_field :product_id, class: "form-control", readonly: true %>
            </div>
        </div>
        

        <div class = "col-2">
                <div class="actions">
                    <br/>
                    <%= form.submit "Submit", class: 'action-btn', style:"margin-top:10px;" %>
                </div>
    
        </div>
    </div>
        <%end%>

    <%if @pit_record.barcode.length > 1 %>
        <%= render partial: 'pit_records/capture_tabs', locals: { 
                                                    product: @product,
                                                    pit_record: @pit_record,
                                                    segments: @segments
        }%>
    <%end%>

  <br/>

  <div class="row">
        <div class="col text-left">
            <i class="fas fa-chevron-left" style="color: #0B9444;" ></i> <%= link_to 'Back', :back, class: "theme-link" %>
        </div>
        <div class="col text-right">
            <%= link_to 'Next', next_pit_record_path(level: (params[:level].present? ? params[:level].to_i : 0)), class: "theme-link" %> <i class="fas fa-chevron-right" style="color: #0B9444;"></i>
        </div>
    </div>


</div>


<br/><br/><br/>