<div class="jumbotron">
  <div class="row">
    <div class="col">

<<<<<<< HEAD
        <p>
          <strong>Product activity count:</strong>
          <%= @pit_record.product_activity_count %>
        </p>

        <p>
          <strong>Barcode:</strong>
          <%= @pit_record.barcode %>
        </p>

        <p>
          <strong>Level:</strong>
          <%= @pit_record.level %>
        </p>

        <p>
          <strong>Source:</strong>
          <%= @pit_record.source %>
        </p>

        <p>
          <strong>Product:</strong>
          <%= @pit_record.product_id %>
        </p>

        <p>
          <strong>Mid:</strong>
          <%= @pit_record.mid %>
        </p>
      </div>
    </div>
=======
<p>
  <strong>Product activity count:</strong>
  <%= @pit_record.product_activity_count %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @pit_record.barcode %>
</p>

<p>
  <strong>Level:</strong>
  <%= @pit_record.level %>
</p>

<p>
  <strong>Source:</strong>
  <%= @pit_record.source %>
</p>

<p>
  <strong>Product:</strong>
  <%= @pit_record.product_id %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @pit_record.mid %>
</p>
</div>
</div>
>>>>>>> f23b7e48ec63383043386d1601ad646396189564
</div>

<%= link_to 'Edit', edit_pit_record_path(@pit_record) %> |
<%= link_to 'Back', pit_records_path %>
<<<<<<< HEAD

<%= render partial: 'pit_records/menu', locals: {level_users: @level_users}%>
=======
>>>>>>> f23b7e48ec63383043386d1601ad646396189564
