<div class="jumbotron">
  <div class="row">
    <div class="col">

        <p>
          <strong>Barcode:</strong>
          <%= @pit_record.barcode %>
        </p>

         <p>
          <strong>Asin:</strong>
          <%= @pit_record.asin %>
        </p>

         <p>
          <strong>Level:</strong>
          <%= @pit_record.level %>
        </p>

        <p>
          <strong>Product activity count:</strong>
          <%= @pit_record.product_activity_count %>
        </p>

       

        <p>
          <strong>Source:</strong>
          <%= @pit_record.source %>
        </p>

        <p>
          <strong>Product ID:</strong>
          <%= @pit_record.product_id %>
        </p>

        <p>
          <strong>Mid:</strong>
          <%= @pit_record.mid %>
        </p>

        <p>
      <strong>Created at:</strong>
      <%= @pit_record.created_at %>
    </p>

     <p>
      <strong>Updated at:</strong>
      <%= @pit_record.updated_at %>
    </p>

      </div>
    </div>
</div>

<%= link_to 'Edit', edit_pit_record_path(@pit_record) %> |
<%= link_to 'Back', pit_records_path %>

<%= render partial: 'pit_records/menu', locals: {level_users: @level_users}%>
