<table class="table table-striped table-bordered table-hover table-sm container-fluid" >
  <thead class="thead-dark" >
    <tr>
      <th>Company</th>
      <th>Photo</th>
      <th>Company Contact Type</th>
      <th>Name</th>
      <th>Job Title</th>
      <th>Email</th>
      <th>Phone</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% company_contacts.each do |company_contact| %>
      <tr>
        <td><%= company_contact.company.name %></td>
        <td><%= image_tag company_contact.photo.thumb.url if company_contact.photo? %></td>
        <td><%= company_contact.company_contact_type.role if company_contact.company_contact_type%></td>
        <td><%= company_contact.name %></td>
        <td><%= company_contact.job_title %></td>
        <td><%= company_contact.email %></td>
        <td><%= company_contact.phone %></td>
        <td><%= link_to 'Show', company_contact %></td>
        <td><%= link_to 'Edit', edit_company_contact_path(company_contact) %></td>
        <td><%= link_to 'Destroy', company_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>