<%= form_with(model: address_type) do |form| %>
  <% if address_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address_type.errors.count, "error") %> prohibited this address_type from being saved:</h2>

      <ul>
        <% address_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :is_person_address %>
    <%= form.check_box :is_person_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
