

<h3>Company Relationship Types</h3>

<table class="table table-striped table-bordered table-hover table-sm container-fluid">
  <thead class="thead-dark">
    <tr>
      <th>Relationship</th>
      <th>Definition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_relationship_types.each do |company_relationship_type| %>
      <tr>
        <td><%= company_relationship_type.relationship %></td>
        <td><%= company_relationship_type.definition %></td>
        <td><%= link_to 'Show', company_relationship_type %></td>
        <td><%= link_to 'Edit', edit_company_relationship_type_path(company_relationship_type) %></td>
        <td><%= button_to 'Delete', company_relationship_type, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Relationship Type', new_company_relationship_type_path, class: "btn btn-secondary" %>
