
<h3>Scans</h3>
<table class="table table-striped table-bordered table-hover table-sm container-fluid">
  <thead class="thead-dark">
    <tr>
      <th>Product</th>
      <th>User</th>
      <th>Scan date</th>
      <th>Barcode</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Address</th>

      <th>Product exists</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scans.each do |scan| %>
      <tr>
        <td><%= scan.product_id %></td>
        <td><%= scan.user.username if scan.user%></td>
        <td><%= scan.scan_date %></td>
        <td><%= scan.barcode %></td>
        
        <td><%= scan.lat %></td>
        <td><%= scan.lng %></td>
        <td><%= truncate(scan.address, length: 15, separator: ' ') %></td>
        <td><%= scan.product_exists %></td>

        <td><%= link_to 'Show', scan %></td>
        <td><%= link_to 'Edit', edit_domains_croupier_core_scan_path(scan) %></td>
        <td><%= button_to 'Destroy', scan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<nav aria-label="Page navigation" class="pagination-form">
    <%= will_paginate @scans, renderer: BootstrapPagination::Rails,
      class: 'pagination justify-content-center' %>

        <form method="get" action="/domains/croupier_core/scans">

          <div class="form-group">
             <input name="page" class="ml-2 jumpto-field" type="number" placeholder="Page #"/>
             <input class="btn btn-outline-success" type="submit" value="Goto page" />
          </div>

        </form>
</nav>

<%= link_to 'New Scan', new_domains_croupier_core_scan_path, class: "action-btn" %>
