<%= form_with(model: attribute_title) do |form| %>
  <% if attribute_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attribute_title.errors.count, "error") %> prohibited this attribute_title from being saved:</h2>

      <ul>
        <% attribute_title.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="form-group">
    <%= form.label :product_category_source_id %>
    <%= form.collection_select :product_category_source_id, @product_category_sources, :id, :code, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-secondary' %>
  </div>
<% end %>
