<h3>Website Messages</h3>
<table class="table table-striped table-bordered table-hover table-sm container-fluid">
  <thead class="thead-dark">
    <tr>
      <th>Sender name</th>
      <th>Sender email</th>
      <th>Message type</th>
      <th>Message subject</th>
      <th>Date Sent</th>
      <th>Sender response sent</th>
      <th>Internal response sent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @website_messages.each do |website_message| %>
      <tr>
        <td><%= website_message.sender_name %></td>
        <td><%= website_message.sender_email %></td>
        <td><%= website_message.message_type %></td>
        <td><%= website_message.message_subject %></td>
        <td><%= website_message.created_at.strftime("%B %d, %Y") %></td>
        <td><%= website_message.sender_response_sent %></td>
        <td><%= website_message.internal_response_sent %></td>
        <td><%= link_to 'Show', website_message %></td>
        <td><%= link_to 'Edit', edit_domains_website_data_website_message_path(website_message) if current_user.admin? %></td>
        <td><%= link_to 'Destroy', website_message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" if current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<nav aria-label="Page navigation" class="pagination-form">
    <%= will_paginate @website_messages, renderer: BootstrapPagination::Rails,
      class: 'pagination justify-content-center' %>

        <form method="get" action="/domains/website_data/website_messages">

          <div class="form-group">
             <input name="page" class="ml-2 jumpto-field" type="number" placeholder="Page #"/>
             <input class="btn btn-outline-success" type="submit" value="Goto page" />
          </div>

        </form>
</nav>

