<%= form_with(model: product_variant) do |form| %>

  <% if product_variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_variant.errors.count, "error") %> prohibited this product variant from being saved:</h2>

      <ul>
        <% product_variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= form.label :image %>
    <div class="uploaded-title">
      <div class="uploaded-pic">
          <%= image_tag product_variant.image_url,  width: 60, height: 50  if product_variant.image? %>
          <%= form.file_field :image, class: "form-control-file"  %>
          <%if product_variant.image?%>
            <%= form.hidden_field :image_cache %>
            <%= form.check_box :remove_image %>
              Remove image
          <%end%>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :barcode %>
    <%= form.text_field :barcode, class: "form-control" %>
  </div>



  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-secondary' %>
  </div>
<% end %>
