<%= form_with(model: product_variant) do |form| %>

  <% if product_variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_variant.errors.count, "error") %> prohibited this product variant from being saved:</h2>

      <ul>
        <% product_variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group" id="media-fields">
  <label>Product Images</label>
    <%= form.fields_for :media do |mf| %>
    <div class="media-upload">
      <% if mf.object.file.present? %>
        <%= image_tag mf.object.file.url(:thumb) if mf.object.image? %>
        <%= link_to 'Remove', '#', class: 'remove-media' %>
        <%= mf.check_box :_destroy %>
      <% end %>

      <%= mf.label :file %>
      <%= mf.file_field :file %>
    </div>
  <% end %>
  </div>
  <%= link_to 'Add another image', '#', id: 'add-media-field' %>


  <div class="form-group">
    <%= form.label :barcode %>
    <%= form.text_field :barcode, class: "form-control" %>
  </div>



  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-secondary' %>
  </div>
<% end %>
