

<h3>Industry Category Types</h3>

</br>

<%= link_to 'New Industry Category Type', new_industry_category_type_path, class: "btn btn-secondary" %>

</br></br>

<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Category Code</th>
      <th>Title</th>
      <th>NAICS Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @industry_category_types.each do |industry_category_type| %>
      <tr>
        <td><%= industry_category_type.category_code %></td>
        <td><%= industry_category_type.title %></td>
        <td><%= industry_category_type.naics_year %></td>
        <td><%= link_to 'Show', industry_category_type %></td>
        <td><%= link_to 'Edit', edit_industry_category_type_path(industry_category_type) %></td>
        <td><%= button_to 'Delete', industry_category_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>

<%= link_to 'New Industry Category Type', new_industry_category_type_path, class: "btn btn-secondary" %>
