<div class="jumbotron">
  <div class="row">
    <div class="col">

<p>
  <strong>Third party source:</strong>
  <%= @capture_history.third_party_source %>
</p>

<p>
  <strong>Status:</strong>
  <%= @capture_history.status %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @capture_history.barcode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @capture_history.name %>
</p>


<p>
  <strong>Run Date:</strong>
  <%= @capture_history.created_at.strftime("%m/%d/%Y") %>
</p>



      <p>
      <strong>Created at:</strong>
      <%= @capture_history.created_at %>
    </p>

     <p>
      <strong>Updated at:</strong>
      <%= @capture_history.updated_at %>
    </p>

</div>
</div>
</div>

<%= link_to 'Edit', edit_domains_croupier_core_capture_history_path(@capture_history), class: "action-btn" %> |
<%= link_to 'Back', domains_croupier_core_capture_histories_path, class: "action-btn" %>
