<h3>Company Relationships</h3>
<table class="table table-striped table-bordered table-hover table-sm container-fluid">
  <thead class="thead-dark">
    <tr>
      <th>Company Relationship type</th>
      <th>Parent Company</th>
      <th>Child Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_relationships.each do |company_relationship| %>
      <tr>
        <td><%= company_relationship.company_relationship_type.relationship %></td>
        <td><%= company_relationship.parent_company.name %></td>
        <td><%= company_relationship.child_company.name %></td>
        <td><%= link_to 'View', company_relationship %></td>
        <td><%= link_to 'Edit', edit_domains_companies_company_relationship_path(company_relationship) %></td>
        <td><%= button_to 'Delete', company_relationship, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav aria-label="Page navigation" class="pagination-form">
    <%= will_paginate @company_relationships, renderer: BootstrapPagination::Rails,
      class: 'pagination justify-content-center' %>

        <form method="get" action="/domains/companies/company_relationships">

          <div class="form-group">
             <input name="page" class="ml-2 jumpto-field" type="number" placeholder="Page #"/>
             <input class="btn btn-outline-success" type="submit" value="Goto page" />
          </div>

        </form>
</nav>
<%= link_to 'New Company Relationship', new_domains_companies_company_relationship_path %>
