

<h1>Classes</h1>

<br/>

<%= link_to 'New Class', new_klass_path, class: "btn btn-secondary" %>

<br/><br/>

<table class="table table-striped table-bordered table-hover table-sm container-fluid">
  <thead class="thead-dark">
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Description</th>
      <th>Family Code</th>
      <th>Family Title</th>
      <th>Product Category Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @klasses.each do |klass| %>
      <tr>
        <td><%= klass.code %></td>
        <td><%= klass.title %></td>
        <td><%= klass.description %></td>
        <td><%= klass.family.code %></td>
        <td><%= klass.family.title %></td>
        <td><%= klass.product_category_source.code %></td>
        <td><%= link_to 'View', klass %></td>
        <td><%= link_to 'Edit', edit_klass_path(klass) %></td>
        <td><%= button_to 'Delete', klass, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class', new_klass_path, class: "btn btn-secondary" %>
