

<p>
  <strong>Code:</strong>
  <%= @klass.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @klass.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @klass.description %>
</p>

<p>
  <strong>Family:</strong>
  <%= @klass.family.code %> |
  <%= @klass.family.title %>
</p>

<p>
  <strong>Product category source:</strong>
  <%= @klass.product_category_source.code %> |
  <%= @klass.product_category_source.description %>
</p>

<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>
